{% extends 'homepage/base.html' %} {% block content %} {% load static %}
<!-- Gallery -->
<h1 style="text-align: center">Galerie</h1>
<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->

<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="{%static 'homepage/image0.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />

    <img
      src="{%static 'homepage/image1.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
    <img
      src="{%static 'homepage/image2.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />

    <img
      src="{%static 'homepage/image3.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
    <img
      src="{%static 'homepage/image16.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />

    <img
      src="{%static 'homepage/image17.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
    <img
      src="{%static 'homepage/image20.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
    <img
      src="{%static 'homepage/image21.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
    <img
      src="{%static 'homepage/image22.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
    <img
      src="{%static 'homepage/image23.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
    <img
      src="{%static 'homepage/image30.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="{%static 'homepage/image4.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />

    <img
      src="{%static 'homepage/image5.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
    <img
      src="{%static 'homepage/image6.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />

    <img
      src="{%static 'homepage/image7.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
    <img
      src="{%static 'homepage/image8.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />

    <img
      src="{%static 'homepage/image9.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
    <img
      src="{%static 'homepage/image19.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
    <img
      src="{%static 'homepage/image24.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
    <img
      src="{%static 'homepage/image25.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
    <img
      src="{%static 'homepage/image26.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
    <img
      src="{%static 'homepage/image27.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
    <img
      src="{%static 'homepage/image31.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="{%static 'homepage/image10.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />

    <img
      src="{%static 'homepage/image11.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
    <img
      src="{%static 'homepage/image12.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />

    <img
      src="{%static 'homepage/image13.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
    <img
      src="{%static 'homepage/image14.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />

    <img
      src="{%static 'homepage/image15.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
    <img
      src="{%static 'homepage/image18.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
    <img
      src="{%static 'homepage/image28.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
    <img
      src="{%static 'homepage/image29.jpg'%}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
  </div>
</div>
<!-- Gallery -->
{%endblock %}
