{% extends 'homepage/base.html' %} {% block content %} {% load static %}

<div class="container text-center">
  <h1>Hallo miteinander,</h1>
  <p>
    Bald ist es soweit und wir geben uns vor Gott und vor euch das JA-Wort.
    Damit ihr alle Informationen habt und am richtigen Ort, zur richtigen Zeit
    da seid und auch einen Platz habt, könnt ihr hier auf der Website alle Infos
    abrufen und uns eine Rückmeldung geben, ob und mit wie vielen ihr kommt.
  </p>
  <p>
    Um auf alle Infos zugreifen zu können, müsst ihr zuerst auf das Feld
    „Registrierung“ klicken. Immer wieder werden wir Informationen ergänzen. Es
    lohnt sich also, ab und zu hier reinzuschauen. Gerne könnt ihr euch durch
    unsere Geschenkeliste klicken und euch inspirieren lassen. Auch findet ihr
    ein paar Vorschläge für Unterkünfte, falls ihr eine braucht.
  </p>
  <p>Wir freuen uns schon sehr darauf, diesen Tag mit euch zu verbringen!</p>
  <h3>#WirSagenJA!</h3>

  <img
    src="{%static 'homepage/main_Homepage.jpg'%}"
    class="img-fluid"
    height="700"
  />
  <h1 style="font-weight: 400">Die Hochzeit startet in:</h1>
  <h1 id="demo"></h1>

  <script>
    // Set the date we're counting down to
    var countDownDate = new Date("Sep 7, 2024 14:00:00").getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {
      // Get today's date and time
      var now = new Date().getTime();

      // Find the distance between now and the count down date
      var distance = countDownDate - now;

      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor(
        (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
      );
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // Display the result in the element with id="demo"
      document.getElementById("demo").innerHTML =
        days + "t " + hours + "h " + minutes + "m " + seconds + "s ";

      // If the count down is finished, write some text
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "Hurraa!!";
      }
    }, 1000);
  </script>
  <img src="{%static 'homepage/image31.jpg'%}" class="img-fluid" height="200" />
</div>

{% endblock %}
