{% extends 'homepage/base.html' %} {% block content %} {% load static %}

<div class="container text-center">
  <h1>Hallo miteinander,</h1>
  <p>
    Bald ist es soweit und wir geben uns vor Gott und vor euch das JA-Wort.
    Damit ihr alle Informationen habt und am richtigen Ort, zur richtigen Zeit
    da seid und auch einen Platz habt, könnt ihr hier auf der Website alle Infos
    abrufen und uns eine Rückmeldung geben, ob und mit wie vielen ihr kommt.
  </p>
  <p>
    Um auf alle Infos zugreifen zu können, müsst ihr zuerst auf das Feld
    „Registrierung“ klicken. Immer wieder werden wir Informationen ergänzen. Es
    lohnt sich also, ab und zu hier reinzuschauen. Gerne könnt ihr euch durch
    unsere Geschenkeliste klicken und euch inspirieren lassen. Auch findet ihr
    ein paar Vorschläge für Unterkünfte, falls ihr eine braucht.
  </p>
  <p>Wir freuen uns schon sehr darauf, diesen Tag mit euch zu verbringen!</p>
  <h3>#TOTHalVERLIEBT</h3>

  <img
    src="{%static 'homepage/main_Homepage.jpg'%}"
    class="img-fluid"
    height="700"
  />
</div>

{% endblock %}
