{% extends 'homepage/base.html' %} {% block content %} {% load static %}

<div class="container text-center">
  <h4>Infos</h4>
  <h5>Kontakt</h5>
  <p>
    Falls ihr Fragen, Programmbeiträge, Probleme oder einfach das Bedürfnis habt
    uns etwas mitzuteilen, dann schreibt uns bitte über folgende E-Mail Adresse:
  </p>
  <a href="mailto:josias.bolay@t-online.de"
    ><img src="{%static 'homepage/email.png'%}" class="img-fluid" width="40"
  /></a>
  <br />
  <a href="mailto:josias.bolay@t-online.de">josias.bolay@t-online.de</a>

  <br />
  <br />
  <h5>Anfahrt</h5>
  <p>Schloss Köngen - Blumenstraße 5, 73257 Köngen</p>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12528.685154589126!2d9.35928650673322!3d48.689580943579166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4799bf8a245c145d%3A0x841ee0468f1f904d!2sSchloss%20K%C3%B6ngen!5e0!3m2!1sde!2sde!4v1715347958559!5m2!1sde!2sde"
    width="600"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
  <br />
  <br />
</div>

{%endblock%}
